<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <br>
      <h1>Post Item For Sale</h1>
      <% include ../error.ejs %>
      <hr>
            
      <form class="form-signin form-group" method="POST" action="/create" enctype="multipart/form-data">
        <div class="controls">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="form_title">Title <small>(Required)</small></label>
                <input id="form_title" type="text" name="title" class="form-control" placeholder="Enter post title" required="required"
                    data-error="A post title is required." max-length="40" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="form_description">Description <small>(Required)</small></label>
                <input id="form_description" type="text" name="description" class="form-control" placeholder="Describe in 100 characters or less" required="required"
                    data-error="An item description is required." max-length="100" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Category Pulldown -->
            <%if( typeof categories != "undefined") { %>
              <div class="col-lg-6">
                <label for="form_category">Select Item Category <small>(Required)</small></label>
                <select class="form-control input-group-append col-lg-12" name="category" id="category">
                  <% categories.forEach(( category ) => {%>
                  <option id="<%= category.title %>" value="<%= category.title %>"><%= category.title %></option>
                <%});%>
                </select>
              </div>
            <%}%>

            <!-- Meeting Place Pulldown -->
            <%if( typeof meeting_places != "undefined") { %>
              <div class="col-lg-6">
                <label for="form_meeting_place">Select Meeting Place <small>(Required)</small></label>
                <select class="form-control input-group-append col-lg-12" name="meeting_place" id="category">
                  <% meeting_places.forEach(( meeting_place ) => {%>
                  <option id="<%= meeting_place.title %>" value="<%= meeting_place.title %>"><%= meeting_place.title %></option>
                <%});%>
                </select>
              </div>
            <%}%>
          </div>

          <div class="row">
            <!-- Item Price-->
            <div class="col-lg-6">
              <div class="form-group">
                <label for="form_price">Price <small>(Required)</small></label>
                <input id="form_price" type="text" name="price" class="form-control" placeholder="$0.00" required="required"
                       data-error="An item price is required." pattern="^[0-9.]*$" max-length="40">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <!-- Item Photo-->
            <div class="col-lg-6">
              <div class="form-group">
                <label for="form_upload_profile_picture">Item Photo <small>(Required)</small></label>
                <div class="custom-file">
                  <input id="logo" type="file" name="image" accept="image/*" class="custom-file-input" required>
                  <label for="logo" class="custom-file-label text-truncate">Choose file...</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!--Captcha-->
            <div class="col-lg-12">
              <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
              <input class="d-none" data-recaptcha="true" data-error="Please complete the Captcha">
              <div class="help-block with-errors"></div>
            </div>

          </div>
        </div>
        <!--Submit SignUp Form-->    
        <div class="row">
          <div class="col-lg-12">
            <a href="/search" class="btn btn-lg btn-danger" role="button">Cancel Post</a>
            <div class="float-right">
              <button class="btn btn-lg btn-success" type="submit" id="create_account">Post Item For Sale</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>