<!-- Page Heading -->
<h1 class="my-4">Categories</h1>
<!--Categories-->
<%if( typeof categories != "undefined") { %>
  <form method="POST" action="/search">
    <div class="row">
      <% categories.forEach(( category ) => {%>
        <div class="col-lg-4 col-sm-6 portfolio-item" style="margin-bottom: 10px;">
          <div class="card h-100">
            <div class="card-body">
              <button class="btn btn-primary text-primary" style="padding: 0px; border: none; background: white;" name="categories" value="<%= category.title %>" type="submit">
                <h4 class="card-title"><%= category.title %></h4>
              </button>
              <p class="card-text"><%= category.description %></p>
            </div>
          </div>
        </div>
      <%});%>
    </div>
  </form>
<%}%>

<!--Bottom Half of Page(From Recent Posts Down)-->
<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Recent Posts</h1>
  <p class="lead">Checkout what people have just posted!</p>
  <a href="/search" class="btn btn-primary btn-lg">See All Items</a>
</header>

<!-- 4 Most Recent Items -->
<%if( typeof items != "undefined") { %>
  <div class="container-fluid">
    <div class="row center">
    <%if( typeof items != "undefined") { %>
      <% items.forEach(( item ) => {%>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card rounded" style="width: 100%;">
            <a href="/post/<%= item.item_id %>" class="btn">
              <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
              <div class="overlay rounded">
                <h5 class="postcard-title"><b><%= item.title %></b></h5>
                <p class="postcard-text"><strong>Price: </strong> $<%= item.price %></p>
                <p class="postcard-text"><%= item.description %></p>
              </div>
            </a>
          </div>
          </div>
        <%});%>
      <%}%>
    </div>
<%}%>