<!--Text Alterations-->
<html>
<head>
<style>
txtshd {
    text-shadow: 4px 4px 11px#9575cd;
}

headline {
    z-index: 1;
    background-color: white;
    position: absolute;
    margin-top:-30px;
}



</style>
</head>
<body>
<!--Text Alterations-->

<!-- Welcome to GatorTrade -->
<div class = "fontevr">
<div style="padding: 15px; background: #e8eaf6; border-radius: 10px;">
  <h1 class="display-3" style = "color:black"  ><txtshd> <center><b><b>Welcome to GatorTrade!</b></b></center></txtshd></h1>
  <hr class="rgba-white-light" style="margin: 0 15%;background-color:black">
  <br>
  <h1 class="lead"  style="color:black;"><b><b><center><font size =" +1" face="Arial" >The Best Way To Buy & Sell for SFSU Students!</font></center></b></b></h1>
</div>
<br>
<br>
<!-- Welcome to GatorTrade -->

<!-- Page Heading -->
<h1 class="display-3" style="color:black;"><h><txtshd><b>Categories</b></h></txtshd></h1>
<hr class="rgba-white-light" style="background-color:black">
<br>
<!--Categories-->

<%if( typeof categories != "undefined") { %>
  <div class="card-body">
    <form method="POST" action="/search">
      <div class="row">
      <% categories.forEach(( category ) => {%>
          <div class="col-lg-4 col-sm-6 portfolio-item" style="margin-bottom: 50px;" >
        <div class="card h-100">
            <headline><img src="<%= category.image %>"  width="70" height="70"></headline>
              <div class="card-body">
                <div class='Center' align='center'>
                <button class="btn btn-primary text-primary "  style="padding: 0px; border: none; background: white;" name="categories" value="<%= category.title %>" type="submit">
                  <h4 class="card-title" style="color:#9575cd; "><b><b><%= category.title %></b></b></h4>
                </button>
                </div>

                <hr class="rgba-white-light" style="margin: 4 15%;background-color:whitesmoke">


                <p class="card-text" style = "font-size: 17px; text-align: center"><%= category.description %></p>
              </div>
            </div>
          </div>
          <br>
        <%});%>
      </div>
    </form>
  </div>
<%}%>



<!--Bottom Half of Page(From Recent Posts Down)-->
<!-- Jumbotron Header -->
<div>
  <h1 class="display-3" style="color:black;"><h><txtshd><b> Recent Posts</b></h></txtshd><a href="/search" class="btn btn-primary btn-lg btn-raised" style="color:white; background-color:#9575cd;height:46px;width:185px; margin-left: 5.2em" >See More Items</a></h1>
  <hr class="rgba-white-light" style=";background-color:black">
</div>
<br>
<!-- 4 Most Recent Items -->
<%if( typeof items != "undefined") { %>
  <div class="container-fluid">
    <div class="row center">
    <%if( typeof items != "undefined") { %>
        <% items.forEach(( item ) => { %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card rounded" style="width: 100%;">
              <a href="/post/<%= item.item_id %>" target="_ blank"class="btn">
                <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
                <div class="overlay rounded">
                  <br><br><br><br><br>
                  <h5 class="postcard-text"><%= item.description %></h5>
                </div>
              </a>

              <!--Item Title and Price display below picture-->
              <div class="col-lg-12">
                <h5 class="font-weight-bold,"><%= item.title %></h5>
                <h5 class="font-weight-bold,"><strong>Price:</strong> $<%= item.price %></h5>
                <h6 class="font-weight-bold,"><strong>Meeting Place:</strong> <%= item.meeting_place%></h6>
              </div> 
            </div>
          </div>
        <%});%>
      <%}%>
    </div>
  </div>
<%}%>