<!--Text Alterations-->
<html>
<head>
<style>
txtshd {
    text-shadow: 4px 4px 10px#9575cd;
}

outlnclr {
  color:#9575cd ;
  font-size: 1.5em;
  -webkit-text-stroke: 2.5px black;
}

outlnclrsm {
  color:#9575cd ;
  font-size: 1em;
  -webkit-text-stroke: 1.75px black;
}
</style>
</head>
<body>
<!--Text Alterations-->

<!-- Welcome to GatorTrade -->

<h1 class="display-3" style = "color:black"  ><txtshd> <center><b><b>Welcome to GatorTrade!</b></b></center></txtshd></h1>
<hr class="rgba-white-light" style="margin: 0 15%;background-color:black">
<br>
<h1 class="lead"  style="color:darkgray;"><b><b><center><font size =" +1" face="Arial" >We're here to make SFSU students lives a lot easier. Search for many of the essentials students need: Books, Computers, Apparel and many other things. Trying to get rid of an item sell it here. Need a service post it here. GatorTrade the #1 Buying/Selling site for SFSU students!</font></center></b></b></h1>
<br>
<br>
<!-- Welcome to GatorTrade -->

<!-- Page Heading -->
<h1 class="display-3" style="color:black"><center><txtshd><u><i><b>Categories</b></i></u></txtshd></center></h1>
<br>
<br>
<!--Categories-->
<%if( typeof categories != "undefined") { %>
  <form method="POST" action="/search">
    <div class="row">
     <% categories.forEach(( category ) => {%>
        <div class="col-lg-4 col-sm-6 portfolio-item" style="margin-bottom: 10px;">
            
       <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <button class="btn btn-primary text-primary" style="padding: 0px; border: none; background: white;" name="categories" value="<%= category.title %>" type="submit">
                <h4 class="card-title" style="color:#9575cd"><b><b><%= category.title %></b></b></h4>
              </button>
              <p class="card-text" style = "font-size: 17px;"><%= category.description %></p>
            </div>
          </div>
        </div>
      <%});%>
    </div>
  </form>
<%}%>

<br>

<!--Bottom Half of Page(From Recent Posts Down)-->
<!-- Jumbotron Header -->
<header class="jumbotron my-4" style="background-color:whitesmoke; border-color: #9575cd; ">
  <h1 class="display-3" style="color:black"><h><txtshd><b>Recent Posts &nbsp</b></h></txtshd><a href="/search" class="btn btn-primary btn-lg" style="color:white; background-color:#9575cd;height:46px;width:185px">See All Items</a></h1>
  <p class="lead"><b>Checkout what people have just posted!</b></p>
</header>
<br>
<!-- 4 Most Recent Items -->
<%if( typeof items != "undefined") { %>
  <div class="container-fluid">
    <div class="row center">
    <%if( typeof items != "undefined") { %>
      <% items.forEach(( item ) => {%>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card rounded" style="width: 100%;">
            <a href="/post/<%= item.item_id %>" class="btn">
              <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
              <div class="overlay rounded">
                <h5 class="postcard-title"><b><%= item.title %></b></h5>
                <p class="postcard-text"><strong>Price: </strong> $<%= item.price %></p>
                <p class="postcard-text"><%= item.description %></p>
              </div>
            </a>
          </div>
          </div>
        <%});%>
      <%}%>
    </div>
<%}%>