<br>
<% include ../error.ejs %>
<!--Show Product detail-->
<% if (typeof item != "undefined") { %>
  <div class="flex-container">
    <div class="row">
      <div class = "col-lg-12 col-md-12 col-sm-12 item-title">
        <h2 class="item-title"><strong><%= item.title %></strong></h2>
      </div>

      <div class = "col-lg-5 col-md-6 col-sm-12 item-photo">
        <img src="<%= item.image_link %>" alt="Item's Image" height="100%" width = "100%" class="img-responsive">
      </div>
      
      <div class = "col-lg-7 col-md-6 col-sm-12 item-detail">
        <h5 class="item-location" style="color:rgb(12, 175, 204)"><i class="fas fa-map-marker-alt"></i> <%=item.meeting_place%></h5>
        <hr>
        <h4 class="item-price">Price: <span>$<%=item.price%></span></h5>
        <hr>
        <p class="item-description"><%= item.description %></p>
      </div>

    <div class="container">
      <!--TODO: Will show up if logged in, otherwise display message telling user to log in-->
      <form method="POST" action = "/post">
        <div class=" col-lg-12 col-md-12 col-sm-12">
          <!--Used for database query adding messages--> 
          <input hidden name="item_id" value="<%=item.item_id%>">
          <input hidden name="seller_id" value="<%=item.seller_id%>">
          <h2>Message</h2>
          <textarea type="text" name="messageInput" placeholder="Enter your message for seller. Please include your email or phone number."></textarea>
        </div>      
        <div class="container">
          <button class="btn btn-success float-right" type="submit">Send Message</button>
        </div>
      </div>
    </div>
  </div>
<% } %>


