<!--TESTING New home page-->
<div class = "fontevr">
<div class="container jumbotron">
  <h1 class="display-3">
  Searching In: <%= current_category %></h1>
  <br/>
</div>
<div>
<% include ../error.ejs %>
<h3 style="color:#9575cd">Apply Search Filter</h3>
  <br/>
  <div class="row">
    <div class="form-group col-md-6">
      <h6 style="color:#9575cd">By Price:</h6><hr>
      <div class="row">
        <!-- Low to High -->
        <form class="col-sm-6" method="POST" action="/search/low_to_high">
          <input hidden name="searchInput" value="<%= current_search %>">
          <input hidden name="categories" value="<%= current_category %>">
          <button class="btn btn-sm btn-primary btn-raised" style="color: white; background-color: #9575cd; border-color: #9575cd;" type="submit" id="low_to_high" >Price: Low to High</button>
        </form>

        <!-- High to Low -->
        <form class="col-sm-6" method="POST" action="/search/high_to_low">
          <input hidden name="searchInput" value="<%= current_search %>">
          <input hidden name="categories" value="<%= current_category %>">
          <button class="btn btn-sm btn-primary btn-raised" style="color: white; background-color: #9575cd; border-color: #9575cd;" type="submit" id="high_to_low" >Price: High to Low</button>
        </form>
      </div>
    </div>
    <div class="form-group col-md-6">
      <h6 style="color:#9575cd">By Meeting Location:</h6><hr>
        <div class="row">
          <form class="col-sm-12 input-group" method="POST" action="/search/meeting_location">
            <input hidden name="searchInput" value="<%= current_search %>">
            <input hidden name="categories" value="<%= current_category %>">
            <select class="form-control form-control-sm col-sm-6" name="updated_location">
              <option>Select</option>
              <option>Cesar Chavez Student Center</option>
              <option>J. Paul Leonard Library - Peets Coffee</option>
              <option>J. Paul Leonard Library - Research Commons</option>
              <option>Student Services Building</option>
              <option>Mashouf Wellness Center</option>
            </select>
            <button class="btn btn-sm btn-primary btn-raised input-group-append" style="margin-left: 15px; color: white; background-color: #9575cd; border-color: #9575cd;" type="submit" id="meeting_location" >Update Location</button>
          </form>
        </div>
    </div>
  </div>

  <hr>
</div>

 <!-- Show Items-->
<div class="content">
  <div class="container-fluid">
    <div>Displaying <%=items.length%> of <%=items.length%></div>

    <div class="row row-offcanvas row-offcanvas-right">
      <%if( typeof items != "undefined") { %>
        <% items.forEach(( item ) => { %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card rounded" style="width: 100%;">
              <a href="/post/<%= item.item_id %>" class="btn">
                <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
                <div class="overlay rounded">
                  <br><br><br><br><br>
                  <h5 class="postcard-text"><%= item.description %></h5>
                </div>
              </a>

              <!--Item Title and Price display below picture-->
              <div class="col-lg-12">
                <h5 class="font-weight-bold, text-center"><%= item.title %></h5>
                <h5 class="font-weight-bold, text-center"><strong>Price:</strong> $<%= item.price %></h5>
              </div> 
            </div>
          </div>
        <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="hidden-gems">
  <p hidden id="current_category"><%= current_category %></p>
  <p hidden id="current_search"><%= current_search %></p>
</div>
</div>
 
<script>
  // Set Selected Attribute for drop down, for easier searching
  function setSelectedCategory() {
    var selectedCategory = document.getElementById("current_category").innerHTML;
    document.getElementById(selectedCategory).setAttribute('selected', 'selected');
  }
  // Set search input, so last search is remembered
  function setSearchInput() {
    var searchInput = document.getElementById("current_search").innerHTML;
    document.getElementsByName("searchInput")[0].value = searchInput;
  }
  setSelectedCategory();
  setSearchInput();
</script>