<!--TESTING New home page-->
<div class = "fontevr">
<div class="container jumbotron">
  <h1 class="display-3">
  Searching In: <%= current_category %></h1>
  <br/>
</div>

<!-- Show Items-->
<div class="content">
  <div class="container-fluid">
  
    <!-- Filters -->
    <div class="row">
      <h3 style="color:#9575cd">Filter by:</h3>
      <div class="form-group col-md-6">
        <form class="col-sm-12 input-group" method="POST" action="/search/filter">
          <input hidden name="searchInput" value="<%= current_search %>">
          <input hidden name="categories" value="<%= current_category %>">
          <select class="form-control form-control-sm col-sm-10" id="filterSelection" name="filter">
            <option value="Price: Low to High" id="Price: Low to High">Price: Low to High</option>
            <option value="Price: High to Low" id="Price: High to Low">Price: High to Low</option>
            <option value="Meeting Place: Cesar Chavez Student Center"                id="Meeting Place: Cesar Chavez Student Center">Meeting Place: Cesar Chavez Student Center</option>
            <option value="Meeting Place: J. Paul Leonard Library - Peets Coffee"     id="Meeting Place: J. Paul Leonard Library - Peets Coffee">Meeting Place: J. Paul Leonard Library - Peets Coffee</option>
            <option value="Meeting Place: J. Paul Leonard Library - Research Commons" id="Meeting Place: J. Paul Leonard Library - Research Commons">Meeting Place: J. Paul Leonard Library - Research Commons</option>
            <option value="Meeting Place: Student Services Building"                  id="Meeting Place: Student Services Building">Meeting Place: Student Services Building</option>
            <option value="Meeting Place: Mashouf Wellness Center"                    id="Meeting Place: Mashouf Wellness Center">Meeting Place: Mashouf Wellness Center</option>
          </select>
          <button class="btn btn-sm btn-primary btn-raised input-group-append" style="margin-left: 15px; color: white; background-color: #9575cd; border-color: #9575cd;" type="submit">Apply</button>
        </form>
      </div>
    </div>
    <hr>

    <div>Displaying <%=items.length%> of <%=items.length%></div>

    <div class="row row-offcanvas row-offcanvas-right">
      <%if( typeof items != "undefined") { %>
        <% items.forEach(( item ) => { %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card rounded" style="width: 100%;">
              <a href="/post/<%= item.item_id %>" target="_ blank"class="btn">
                <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
                <div class="overlay rounded">
                  <br><br><br><br><br>
                  <h5 class="postcard-text"><%= item.description %></h5>
                </div>
              </a>

              <!--Item Title and Price display below picture-->
              <div class="col-lg-12">
                <h5 class="font-weight-bold,"><%= item.title %></h5>
                <h5 class="font-weight-bold,"><strong>Price:</strong> $<%= item.price %></h5>
                <h6 class="font-weight-bold,"><strong>Meeting Place:</strong> <%= item.meeting_place%></h6>
              </div> 
            </div>
          </div>
        <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="hidden-gems">
  <p hidden id="current_category"><%= current_category %></p>
  <p hidden id="current_search"><%= current_search %></p>
  <%if( typeof current_filter != "undefined") { %>
    <p hidden id="current_filter"><%= current_filter %></p>
  <% } else { %>
    <p hidden id="current_filter"></p>
  <% } %>
</div>
</div>
 
<script>
  // Set Selected Attribute for drop down, for easier searching
  function setSelectedCategory() {
    var selectedCategory = document.getElementById("current_category").innerHTML;
    document.getElementById(selectedCategory).setAttribute('selected', 'selected');
  }
  // Set search input, so last search is remembered
  function setSearchInput() {
    var searchInput = document.getElementById("current_search").innerHTML;
    document.getElementsByName("searchInput")[0].value = searchInput;
  }

  // Set Selected Filter
  function setSelectedFilter() {
    var selectedFilter = document.getElementById("current_filter").innerHTML;

    if(selectedFilter != "") {
      document.getElementById(selectedFilter).setAttribute('selected', 'selected');
    }
  }
  setSelectedCategory();
  setSearchInput();
  setSelectedFilter();
</script>