<!--TESTING New home page-->
<div class="jumbotron">
  <div class="container">
      <h1 class="display-3">
      Team 04 <br />
      Searching: <%= current_category %></h1>
      <p hidden id="current_category"><%= current_category %></p>
      <p hidden id="current_search"><%= current_search %></p>
    </div>
  </div>

<div class = "">Displaying <%=items.length%> of <%=items.length%></div>

  <!-- Show Items & Side Price/Location-->
<div class="wrapper">
  <nav class="bg-light" id="sidebar">
    <div class="container-fluid">
    <div class="sidebar-header">
      <h3><br>Search Filters</h3>
    </div>
      <div class="form-group">
        
        <!-- Changing from input to price dropdown selction
      <div class="Price Range">
        <label for="sel1">Price Range:</label>
        <input class="form-control" id="sel1" type="number" min="0">
        <br/>
      -->

      <!--changed filter by to SORT BY PRICE-->
        <label>Sort by Price:</label>
        <select class="form-control" id="select">
          <option>Select</option>
          <option>Under $25</option>
          <option>$25 - $50</option>
          <option>$50 - $100</option>
          <option>$100 & Above</option>
        </select>
      </div>
      <div class="form-group">
        <br/>
          <label for="sell">Meeting Location:</label>
          <select class="form-control" id="sel1">
            <option>Select</option>
            <option>J. Paul Leonard Library</option>
            <option>Student Center</option>
            <option>Cafe</option>
          </select>
        </div>
      </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <%if( typeof items != "undefined") { %>
          <% items.forEach(( item ) => {%>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card rounded" style="width: 100%;">
                <a href="/post/<%= item.item_id %>" class="btn">
                  <img class="card-img-top" src="<%= item.image_link %>" height="250px" alt="Card image cap">
                  <div class="overlay rounded">
                    <h5 class="postcard-title"><b><%= item.title %></b></h5>
                    <p class="postcard-text"><strong>Price: </strong> $<%= item.price %></p>
                    <p class="postcard-text"><%= item.description %></p>
                  </div>
                </a>
               </div>
              </div>
            <%});%>
          <%}%>
      </div>
    </div>
  </div>

 
  <script>
    // Set Selected Attribute for drop down, for easier searching
    function setSelectedCategory() {
      var selectedCategory = document.getElementById("current_category").innerHTML;
      document.getElementById(selectedCategory).setAttribute('selected', 'selected');
    }
    // Set search input, so last search is remembered
    function setSearchInput() {
      var searchInput = document.getElementById("current_search").innerHTML;
      document.getElementsByName("searchInput")[0].value = searchInput;
    }
    setSelectedCategory();
    setSearchInput();
  </script>